body {
  /*background-color: blue;*/
  text-align: center;
}

ul {
  list-style: none;
}

.beer-img {
  width: 50px;
  padding-bottom: 25px;
}

.ingredient-type {
  padding: 10px;
  margin-bottom: 15px;
  border: 3px solid brown;
}

